
bin/
obj/
[Bb]uild/
[Ll]og/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb

*.dbmdl
*.pdb
*.cache
*.log
*.tlog
*.ide

*.Publish.xml
publish/

*.env
*.key
*.cer
*.pfx
appsettings-local.json

TestResults/
packages/
.nuget/

*.orig

.DS_Store
Thumbs.db
desktop.ini

.idea/
*.sln.iml

_ReSharper*/
*.DotSettings.user

.vscode/
